@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional reset (safe) */
body {
  margin: 0;
}
/* index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}